
h1 {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0%;

}
nav {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    color: white;
    margin-top: 0%;
    padding: 0%;
    margin-bottom: 0%;
 
}
nav ul {
    display: flex;
    flex-direction: row;
    padding: none;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav li {
    list-style: none;
    margin-top: 10px;
    padding: 10px;
    margin-right: 500px;
    background-color: blue;
}
.line{
    text-align: center;
    background-color: blue;
    color: white;
    padding: 100px;
    margin: 10px;
    height: 100%;
}
.content {
  display: flex;         /* places children side by side */
  align-items: flex-start; /* keeps them aligned at the top */
  
}

main {
  flex: 3;               /* main takes more space */
  padding: 15px;
}

aside {
  flex: 1;               /* aside takes less space */
  padding: 20px;
}
article {
    text-align: center;
    background-color: lightsalmon;
    margin-top: 0%;
    padding-top:2px;

}
article li {
    list-style: none;
    padding: 20px;
    color: black;
}
